html, body {
    height: 100%;
}

#app, #main {
    height: 100%;
}

#links-section {
    width: 60px;
}

.nav-link, span {
    font-size: xx-large;
}

.social {
    color: #e46c0a;
}

.non-social {
    color: #007bff;
}

